// Nav bar color scheme according to theme customizer
.bc_nav_container{
	background-color: rgba(250, 250, 250, 0); // Nav bar Background
	@media (hover: none), only screen and (max-width: 768px) {
		background-color: $primary_color; // Mobile nav bar Background
	}
	#navbarSupportedContent{
		& > ul > li{
			text-align: center;
		}

		a{
			font-size: 1em;
			font-weight: 400;
			text-transform: capitalize;
			font-family: $alternate_font_family_1;
			svg{
				color: #ffffff !important;
				
			}
			&:hover { 
				@media (hover: none), only screen and (max-width: 768px) {
					background-color: #ffffff00 !important; // Mobile nav bar Background
				}
			}
		}
		@media (hover: none), only screen and (max-width: 768px) {
			& > ul > li{
				text-align: left;
			}
			height: auto;
		    max-height: 500px;
		    overflow-x: hidden;
		    padding-bottom: 1.5em !important;
		}
	}

	 
	.navbar-nav{
		li {

			a {
				color: $secondary_color !important; //Top level link
				svg { color: #ffffff00;} // Top level dropdown icon
			}
			&:hover{
				background-color: #ffffff00;	// Top level dropdown background hover
				@media (hover: none), only screen and (max-width: 768px) {
					background-color: #ffffff00 !important; // Mobile nav bar Background
				}		
				svg { color: #ffffff00; } //Top level dropdown icon hover
				a.nav-link { color: $info_color !important; } // Top level link hover	
			}
		}
		.dropdown-menu{ 
			background-color: $success_color; // Dropdown background
			@media (hover: none), only screen and (max-width: 768px) {
				 background-color: #ffffff00 !important; 
			} 
		} 
	}

	.dropdown {
		li, .dropdown-item {


			a{	
				color: $secondary_color !important; // Dropdown link
				position: relative;
				&::before{
					content: '';
					position: absolute;
					width: 3px;
					height: 100%;
					bottom: 0;
					left: 0;
					transform-origin: bottom left;
					transform: scaleY(0);
					transition: transform .5s ease 0s;
					background-color: #ffffff;

				}
				&:hover{
					&::before{
						transform: scaleY(1);
					}
				}
				svg { // Dropdown icon 
					color: #ffffff00; 
					@media (hover: none), only screen and (max-width: 768px) {
						color: $info_color;
					}
				} 


			}

			&:focus{
				background-color:#842F3F;
				@media (hover: none), only screen and (max-width: 768px) {
					// background-color: #ffffff00 !important;
				}
			}

			&:hover{
				background-color: #842F3F; 	//Dropdown background hover	
				@media (hover: none), only screen and (max-width: 768px) {
					background-color: #ffffff00 !important; // Mobile nav bar Background
				}
				svg { color: #ffffff00; } // Dropdown icon hover
				a { // Dropdown icon hover
					color: $secondary_color;
				} 
			}
		}
	}
}

.navbar-toggler-icon{ color: $tertiary_color; } // Toggle icon color

//Menu dropdown modifications

.dropdown-menu{
	border-radius: 0px;
	padding: 1rem 0px;
    margin-top: 0px;
    border: 0px;
    min-width: 20rem;
	.dropdown-toggle {
		svg{
			transform: rotate(-90deg);
			right: 15px;
			position: absolute;
			top: 18px;
		}
		
	}
}

.navbar {
	padding: 0rem 1rem;
}
.navbar-nav{
	li{
		padding-top: .5rem;
		padding-bottom: .5rem;	
	}
	& > li {	// Top Level Links
		height:100%;
		padding: 0px 0px !important;
		& > a{
			padding:2.3rem 0.5rem !important;
			@media (hover: none){
				padding:0.5rem 0.5rem !important;
			}
		}
	}
}
.dropdown {

	li {
		.dropdown-toggle.nav-link{
	    	padding-top: 10px;
			padding-bottom: 10px;	
	    }
		padding: 0rem 0rem;	
		@media (hover: none), only screen and (max-width: 768px) {
			padding-left:30px !important;
		}
	}


	.dropdown-item {
		padding: 0px 1em !important;
		line-height: 34px;
	}


	ul ul {
		@media only screen and (min-width: 1024px) {
			margin-left: 100%;
			margin-top: -56px;
		}
		@media (hover: none){
			margin-left: 0px;
			margin-top: 0px;
		}	
		a {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
				
		}
	}

	.dropdown-toggle{
		&::after {
		  	display:none;
		}
	}
}

//Overriding navbar-expand-lg behaviour for touch screen devices 
@media (hover: none) {
	.bc-nav-dropdown-icon{
		width: 45px;
		height: 45px;
	}
	
	nav.navbar-expand-lg{
		.m-lg-auto, &.m-lg-auto{
			margin: 0px 0px !important;
		}
		.float-lg-none{
			float: right !important;
		}
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between; 
		position: relative;
		display: flex;
		align-items: center;
		.navbar-nav{
			flex-direction: column;
		}
		.dropdown-menu {
			position: static !important;
		}
		#navbarSupportedContent.navbar-collapse{
			// .navbar-toggler{
			// 	display: block !important;
			// 	float: right;
			// }
			flex-basis: 100%;
			flex-grow: 1;
			display: block !important;
			&.collapse:not(.show) {
			    display: none !important;
			}
			& > ul {
				width: 100%
			}
		}
	}
}
